/*---------cart items---------*/
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    width: 80%;
}

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

a {
    text-decoration: none;
    color: #555;
}
small {
    color: #555;
    margin-top: 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ff523b;
    font-size: 12px;
}

td img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 410px;
}



.order-place{
    display: inline-block;
    background: #4ac9ff;
    font-size: 12px;
    color: #fff;
    padding: 3px 10px;
    border-radius: 30px;
    border: 0;
    margin-bottom: 7px;
    margin-top: 5px;
}
.order-place:hover{
    background: #0988ff;
    color: #656565;
}
.order-remove{
    display: inline-block;
    background: #ff523b;
    font-size: 12px;
    color: #fff;
    padding: 3px 10px;
    border-radius: 30px;
}
.order-remove:hover{
    background: #f31c00;
    color: #656565;
}