
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-header {
    background-color: rgb(205, 205, 205); 
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #555;
}
a:hover{
    color:#5858;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*------------ media query for menu ----------------*/

@media only screen and (max-width: 800px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}